List((
	texture_width: 2560,
	texture_height: 2560,
	sprites: [
    		    (
            			x: 0,
            			y: 0,
            			width: 2560,
            			height: 2560,
            		)
                 ]
               ))