List((
	texture_width: 1600,
	texture_height: 1600,
	sprites: [
    		    (
            			x: 0,
            			y: 0,
            			width: 1600,
            			height: 1600,
            		)
                 ]
               ))