List((
	texture_width: 320,
	texture_height: 320,
	sprites: [
    		    (
            			x: 0,
            			y: 0,
            			width: 32,
            			height: 32,
            		),
                    (
            			x: 32,
            			y: 0,
            			width: 32,
            			height: 32,
            		),
                    (
            			x: 64,
            			y: 0,
            			width: 32,
            			height: 32,
            		),
                    (
            			x: 96,
            			y: 0,
            			width: 32,
            			height: 32,
            		),
                    (
            			x: 128,
            			y: 0,
            			width: 32,
            			height: 32,
            		),
                    (
            			x: 160,
            			y: 0,
            			width: 32,
            			height: 32,
            		),
                    (
            			x: 192,
            			y: 0,
            			width: 32,
            			height: 32,
            		),
            		(
                        x: 224,
                        y: 0,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 0,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 0,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 32,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 64,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 96,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 128,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 160,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 192,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 224,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 256,
                        width: 32,
                        height: 32,
                    ),
                     (
                        x: 0,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 32,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 64,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 96,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 128,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 160,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 192,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 224,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 256,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
                    (
                        x: 288,
                        y: 288,
                        width: 32,
                        height: 32,
                    ),
        ]
))